@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

$font : 'Rubik', sans-serif;
$color : #0d0620;

body,html
{
    margin: 0px;
    padding: 0px;
    // overflow-x: hidden;
    font-size: 62.5%;
    height: 100%;
    font-family: $font;
    background-color:$color;
}

.carousel-slider {
    height: 450px !important;
  }
  
  .thumbs-wrapper {
    display: none;
  }
  .carousel .slide img {
    width: 100%;
    padding: 0px 5px;
    vertical-align: top;
    border-radius: 20px;
    border: 0;
    // border: 2px solid blue;
}
.Toastify{
    font-size: 1.5rem;
}
.carousel-root{
    padding-bottom: 50px;
}